<!DOCTYPE html>
<html lang="en">
<head>
    {{> components/head title="Web App" description="A web app, what else would this be" keywords="web, app, webapp" }}
    <style>{{> style }}</style>
</head>
<body>
    {{> @partial-block }}
    <script>{{> bundle }}</script>
</body>
</html>
